.container {
  display: flex;
  width: 100%;
  transition: 1s transform ease;
}

.swiper__container {
  height: 290px;
  padding: 5px;
  min-width: 0;
  width: 66.6%;
}

.card__container {
  height: 280px;
  width: 33.4%;
  display: flex;
  height: 290px;
  padding: 5px;
}

.flip__container {
  width: min(15.8vw, 180px);
  height: 100%;
  align-self: flex-start;
}

.flip__box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.support__container {
  /* padding: 5px;
  align-self: flex-start; */
}

.support__box {
  display: flex;
  flex-direction: column;
  background-color: #c2d6be;
  padding: 35px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.support__box__header {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.support__box__content {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px;
}

.knowledge__container {
  display: flex;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--e-global-color-text);
  color: var(--e-global-color-cd6593d);
}

.knowledge__box {
  background-image: url("https://100018-dowellWorkflowAi-testing/wp-content/uploads/2022/10/artistic-logo.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  padding: 4px;
  text-align: center;
  justify-content: flex-end;
  margin-top: auto;
  height: 100%;
  margin-inline: auto;
}

.knowledge__box__header {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.knowledge__box__content {
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 0px;
}

.knowledge__button {
  margin-top: 20px;
  outline: none;
  border: 2px solid var(--e-global-color-cd6593d);
  color: var(--e-global-color-cd6593d) !important;
  padding: 12px 24px;
  font-size: 15px;
  align-self: center;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 15px;
  background-color: transparent;
}

.flip__container:hover .flip__box {
  transform: rotateX(180deg);
}

.flip__card__front,
.flip__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip__card__back {
  transform: rotateX(180deg);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .swiper__container {
    width: 100%;
  }
  .card__container {
    width: 100%;
  }
  .flip__container {
    width: min(64.4vw, 494px);
  }
}
