.customer-support-swiper {
  width: 100% !important;
  height: 100% !important;
}

.customer-support-swiper .swiper-slide {
  background-color: pink;
}

.customer-support-swiper .swiper-button-next,
.customer-support-swiper .swiper-button-prev {
  color: rgba(238, 238, 238, 0.9);
  font-weight: 900;
  --swiper-navigation-size: 25px;
}

.customer-support-swiper .swiper-pagination-bullet {
  line-height: 24px !important;
  width: 6px !important;
  height: 6px !important;
}
