.Process_Title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(2 1 1);
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.info_container {
  width: 100%;
  height: fit-content;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label {
  font: Roboto;
  font-weight: 224px;
  font-size: 16px;
  color: #3E3E3E;
}

.value {
  font: Roboto;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.valueProcessing {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #E5B842;
}

.Flex_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.Step_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.Step_div_expanded {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 150px;
  transition: height 0.3s ease;
}

.expand_div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: height 0.7s ease;
}

.real_link {
  width: inherit;
  overflow-x: scroll;
}

.grid_container {

  padding: 10px 15px;
}

.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;

}

.copy_icon {
  cursor: pointer;

}

.expanded {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.expand_icon {
  position: absolute;
  right: 10rem;

}

.expanded.expanded {
  height: auto;
  position: relative;
  top: 70px;
}


.process__Generated__Links__Overlay {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 100002;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process__Generated__Links__Container__Close__Icon {
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.process__Generated__Links__Container {
  background-color: var(--white);
  width: 73%;
  border-radius: 10px;
  /* padding: 5% 2%; */
  padding: 50px 2%;
  max-height: 30rem;
  position: relative;
}

.process__Generated__Links__Container .process__Generated__Links__Title__Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.process__Generated__Links__Container .process__Generated__Links__Copy__Item {
  background-color: #61ce70;
  color: #fff;
  cursor: pointer;
  /* padding: 7% 5%; */
  border-radius: 5px;
  display: flex;
  height: 2.3rem;
  width: 4.3rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.process__Links__Wrapper {
  overflow-y: auto;
  max-height: 25rem;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar,
.process__Links__Container td::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-track,
.process__Links__Container td::-webkit-scrollbar-track {
  background: #efefef;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-thumb,
.process__Links__Container td::-webkit-scrollbar-thumb {
  background: #61ce70;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-thumb:hover,
.process__Links__Container td::-webkit-scrollbar-thumb:hover {
  background: #1f7628;
}

.process__Generated__Links__Container table thead,
.process__Generated__Links__Container table td {
  padding: 0.3rem 0.8rem;
}

.process__Generated__Links__Container table thead {
  background-color: #61ce70;
  color: var(--white);
}

.process__Links__Container td img {
  width: 7rem;
  height: 7rem;
}

.process__Links__Container td {
  max-width: 10rem;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.process__Links__Container tr:hover {
  background: #efefef;
  transition: 0.3s ease-in-out;
}

.single__Link {
  cursor: pointer;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  /* This ensures the cards are displayed horizontally */
  align-items: center;
  /* You can adjust alignment as needed */
  justify-content: space-between;
  margin-bottom: 20px;
}

.BarContainer {
  display: flex;
  flex-direction: row;
  /* This ensures the cards are displayed horizontally */
  align-items: center;
  /* You can adjust alignment as needed */
  /* justify-content: space-between; */
}

.LeftContent {
  margin-left: 20px;
  /* Adjust the margin as needed */
}

.circularCrogressContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 30px
}

.processName {
  background-color: #13511D;
  height: 150px;
  /* width: 910px; */
  border-radius: 10px;
  padding: 12px;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.processHeading {
  color: #FFFFFF;
  
}

.processHeadingChart {
  color: #000000;
  font: 20px;
}

.processHeadingChart2 {
  color: #000000;
}

.ImageContainer {
  position: relative;
  bottom: 0;
  right: 0;
  margin-left: 200px;
}

/* Style for the image (you can adjust this as needed) */
.ImageContainer img {
  max-width: 100%;
  /* Make sure the image doesn't exceed the container */
  max-height: 100%;
  /* Make sure the image doesn't exceed the container */
  margin-top: 30px;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 10px 20px;
    border-radius: 10px;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button_container .btn {
  margin-bottom: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.button_container .btn:hover {
  background-color: #04661b; /* Change color on hover */
}

.custom_button {
  margin-bottom: 1rem;
  transition: background-color 0.3s ease-in-out;
  background-color: #66b172;
  color: white;
}

.custom_button:hover {
  background-color: #04380d; /* Change color on hover */
}

.custom_progress_bar {
  height: 5px; /* Adjust the height to your desired value */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .process__Generated__Links__Container {
    background-color: var(--white);
    width: 73%;
    border-radius: 10px;
    padding: 6% 2%;
    max-height: 30rem;
    position: relative;
  }
}