.container {
  display: flex;
  flex-direction: column;
}

.step__title__box {
  /* height: 65px; */
  /* margin-top: 20px; */
  /*   padding: 10; */
  margin-block: 25px;
}

/* .spinner__box {
  display: flex;
  align-items: flex-start;
  border: solid red 1px;
} */

.workflows__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  column-gap: 20px;
  row-gap: 8px;
}

.workflow__box {
  padding: 10px 20px;
  background-color: var(--e-global-color-secondary);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 167px;
  cursor: pointer;
}

.step__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.step__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  border: 1px solid var(--e-global-color-secondary);
  /* width: min(14.65vw, 167px); */
  width: 167px;
  color: var(--e-global-color-secondary);
  position: relative;
  padding-bottom: 15px;
}

/* .gap__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 */
.header {
  border: 1px var(--e-global-color-text) solid;
  background-color: var(--e-global-color-9d2ac19);
  color: var(--e-global-color-1342d1f);
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  line-height: 1;
}

.step__header {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  border: 1px var(--e-global-color-text) solid;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.skip {
  display: flex;
  font-size: 16px;
  align-items: baseline;
  gap: 5px;
}

/* .collapse__icon {
  width: 100%;
  background-color: var(--e-global-color-9d2ac19);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
} */

/* .confirm__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
} */

.assign__document__map button {
  background-color: var(--e-global-color-accent);
}

.form__loading::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.paste__button {
  padding: 10px 20px;
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-cd6593d);
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  line-height: 12px;
}

.table__of__contents__header {
  font-size: 14px;
  padding: 20px;
  border: solid 1px #a4afb7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  line-height: 17px;
}

.table__of__contents__header i {
  cursor: pointer;
}

.task__features {
  display: flex;
  flex-direction: column;
  padding: 4px 20px 4px 12px;
  border: solid 1px #818a91;
  appearance: none !important;
  background: none !important;
  border-radius: 2px;
}

.task__features__text {
  color: var(--e-global-color-text);
  font-size: 12px;
  height: 15px;
  padding-inline: 2px;
}
.time__input {
  max-width: 100%;
  padding: 4px 12px;
  outline: none;
  border: 1px solid #818a91;
  color: var(--e-global-color-text);
  font-size: 12px;
  line-height: 16.8px;
  color: #515151;
  min-height: 33px;
}

@media (max-width: 768px) {
  .step__box {
    width: 100%;
  }
}
