.Main_div {
  background-color: #fff;
}

.First_popuopAuto_Close {
  position: absolute;
  top: 10px; /* Position the popup above the button */
  right: 10px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hide the popup */
  z-index: 100000002; /* Ensure the popup is above other content */
}

/* Add transitions for smooth visibility changes */
.First_popuopAuto_Close {
  transition: top 0.3s ease-in-out;
}

.showImgIcons{
  display: flex;
  margin-right: 20px;
}
.Chat_img_text {
  font-size: 14px;
  padding: 5px;
  height: 35px;
  /* width: fit-content; */
  /* margin-bottom: 25px; */
  background-color: #2e7d32;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  color: #fff;
  margin-top: 5px;
}
.Chat_img_textProcess {
  font-size: 14px;
  padding: 5px;
  height: 35px;
  /* width: fit-content; */
  /* margin-bottom: 25px; */
  background-color: #2e7d32;
  border-radius: 50px;
  /* border-bottom-right-radius: 0; */
  color: #fff;
  margin-top: 15px;
}
.Chat_buttonIcon {
  position: fixed !important;
  bottom: 100px;
  right: 30px;
  background-color: none;
  
}
.Chat_icon_img{
  width: 60px;
  height: 90px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.Chat_button {
  position: fixed !important;
  bottom: 44px;
  right: 30px;
  background-color: #61ce70;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 0 1.25rem 0 1.25rem;
  border-radius: 40px;
  height: 3.5rem;
  width: 3.5rem;
}

.Chat_button:hover {
  background-color: #2e7d32;
}

.SVG_class {
  fill: currentColor;
  height: 6.6rem;
  width: 6.3rem;
  box-sizing: border-box;
}

.First_popuopAuto_Close {
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.FirstAutoClose_inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.First_popuop {
  position: fixed;
  bottom: 50px;
  right: 100px;
  background-color: white;
  width: 296px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 16px !important;
  box-sizing: border-box !important;
}

/* .my_element {
    z-index: 100 !important;
    position: fixed;
    top: 10rem;
    height: 18rem;
    overflow: auto;
    box-sizing: border-box;
} */

/* .my_element_one {
    z-index: 100 !important;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

} */

.First_popuop_Parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.First_popuop_Stories {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.First_popuop_sms {
  font-size: 14px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 25px;
  background-color: #2e7d32;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  color: #fff;
}

.Chat_Now_Button {
  margin-top: 70px;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px;
  background-color: #005733;
  color: #fff;
}

.Chat_Now_Button:hover {
  background-color: #2e7d32;
}

.Powered_text {
  margin-top: 90px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.Second_popupAutoClose {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
}

.Second_Popup {
  position: fixed;
  bottom: 50px;
  right: 100px;
  background-color: white;
  width: 296px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 16px;
  box-sizing: border-box !important;
}
.Second_Popup_Parent {
  margin-top: 5px;
}
.Text_Class {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat_messages {
  height: 270px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat_messages::-webkit-scrollbar {
  width: 5px;
}

.chat_messages::-webkit-scrollbar-track {
  background: transparent;
}

.chat_messages::-webkit-scrollbar-thumb {
  background-color: #b0a7a7;
  border-radius: 5px;
}

.chat_messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.Sender_sms {
  float: right;
  font-weight: bold;
  background-color: #2e7d32;
  color: white;
  padding: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px 20px 0px 20px;
  margin-right: 5px;
  font-size: 15px;
}

.Text {
  font-size: 15px;

  font-weight: bold;
  background-color: #eeeaea;
  width: fit-content;
  padding: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px 20px 20px 0;
}

.Large_Text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.Input_Container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.Text_input {
  border-color: #cbd5e0;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: 190px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.Send_button {
  border-radius: 10px;
  width: 45px;
  background-color: #2e7d32;
  transition: background-color 0.2s ease-in-out;
  color: #fff;
  font-weight: bold;
}

.Send_button:hover {
  background-color: #005733;
  transition: background-color 0.2s ease-in-out;
}

.close_button {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.minimize_button {
  position: absolute;
  top: 0;
  right: 40px;
  background: none;
  border: none;
  font-size: 2rem;

  cursor: pointer;
}

@media (max-width: 435px) {
  .Chat_Now_Button {
    margin-top: 70px;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px;
    /* background-color: #1fb6ff; */
    color: #fff;
    width: 90% !important;
    margin-left: 5%;
  }
  .First_popuop {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: white;
    width: 266px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px !important;
    box-sizing: border-box !important;
  }
  .Second_Popup {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: white;
    width: 296px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px;
    box-sizing: border-box !important;
  }
}

@media (max-width: 385px) {
  .Chat_Now_Button {
    margin-top: 70px;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px;
    /* background-color: #1fb6ff; */
    color: #fff;
    width: 80% !important;
    margin-left: 10%;
  }
  .First_popuop {
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: white;
    width: 260px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px !important;
    box-sizing: border-box !important;
  }
  .Second_Popup {
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: white;
    width: 260px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px;
    box-sizing: border-box !important;
  }
  .Text_input {
    border-color: #cbd5e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 170px;
    margin: 2px;
    padding: 10px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media (max-width: 350px) {
  .Chat_Now_Button {
    margin-top: 70px;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px;
    /* background-color: #1fb6ff; */
    color: #fff;
    width: 95% !important;
  }
  .First_popuop {
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: white;
    width: 205px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px !important;
    box-sizing: border-box !important;
  }
  .Second_Popup {
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: white;
    width: 205px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px;
    box-sizing: border-box !important;
  }
  .Input_Container {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  .Text_input {
    border-color: #cbd5e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    margin: 2px;
    padding: 10px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .Send_button {
    size: 30px;
    border-radius: 10px;
    width: 45px;
    /* background-color: #1fb6ff; */
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    font-weight: bold;
  }
}

/***************chat section resize ********/
@media (max-width: 768px) {
  .Chat_button {
    bottom: 34px;
    right: 10px;
  }
  .Chat_buttonIcon {
    position: fixed !important;
    bottom: 90px;
    right: 8px;
    background-color: none;
  }
  .Text_input {
    /* border: 1px red solid; */
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
