.construction__Page__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.construction__Page__Container img {
    width: 8rem;
    object-fit: cover;
    max-width: 100%;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.description {
    font-size: .8rem;
    text-align: center;
}
.construction__Svg {
    width: 35%;
}