.main {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
  border-radius: 50%;
  background-color: #f3fff1;
  transform: scale(0.85);
  box-shadow: -1px 2px 39px -11px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 2px 39px -11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 2px 39px -11px rgba(0, 0, 0, 0.1);
}

.container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.box {
  display: flex;
  position: relative;
  height: 120px;
  width: 120px;
}

.border {
  border: solid 3px black;
}

.first__square {
  left: 0;
  width: 30px;
  height: 30px;
  background-color: green;
  position: absolute;
  bottom: 0;
}

.first__arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.first__circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  top: 0;
}

.second__arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.second__square {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(45deg);
}

.third__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.second__circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
  z-index: 1000;
}
