.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box__container {
  background-color: var(--e-global-color-9d2ac19);
 
  border: 1px solid var(--e-global-color-text);
  width: 33%;
  flex-shrink: 0;
}

.selected__box {
  display: flex;
  padding: 8px;
  font-size: 12px;
  line-height: 18px;
  gap: 5px;
}
@media (max-width: 375px) {
  .selected__box {
    display: flex;
    font-size: 10px;
    line-height: 18px;
    gap: 0px;
  }
}