.chat {
  border-radius: 39%;
  position: absolute;
  right: 0;
  position: fixed;
  bottom: 0;
  width: 4.7%;
  height: 50px;
  background-color: #ff7e29;
  color: #fffbff;
  padding: 12px 10px 10px 15px;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 25px;
}
.alert {
  background-color: aquamarine;
  width: 19%;
  color: rgb(49, 204, 70);
  background-color: rgb(49, 204, 70);
  position: absolute;
  border-radius: 50%;
  height: 32%;
  margin-top: 25px;
  margin-left: 42px;
  border: 3px solid white;
}
