.container {
  height: 100vh;

  padding: 48px;

  flex-shrink: 0;
  width: 100%;

  position: absolute;

  right: 0;
}

.dropdown__container {
  position: relative;
}

.dropdown__option__container {
  flex-direction: column;
  position: absolute;
  margin-top: 2px;
  width: 100%;
  top: 0;
  transform: translateY(38px);
  display: flex;
  min-width: fit-content;
}

.hr {
  margin-top: 35px;
  margin-bottom: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.dropdown__option__box {
  border-radius: 0.25rem;
  padding-block: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown__option__content {
  position: static;
  display: block;
  height: 100%;
  width: 100%;
  padding: 4px 24px;
  background-color: #007bff;
  font-size: 16px;
  line-height: 24px;
  color: #fff !important;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
  white-space: nowrap;
  min-height: fit-content;
  align-self: center;
}

.dropdown__option__content:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.dropdown__current__option {
  overflow: hidden;
  border-radius: 0.25rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: none;
  white-space: nowrap;
  padding: 6px 12px;
  border: 1px solid #1faa59;
  background-color: #1faa59;
  width: 100%;
  color: #fdec00;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown__current__option::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 5px;
  margin-top: -1px;
  top: 50%;
  transform: translateY(-50%);
}

/* .dropdown__current__option:active {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}
 */
.dropdown__current__option:hover {
  color: #000;
  border-color: transparent;
}

/* .dropdown__current__option:focus-visible {
  border-color: black;
} */

.dropdown__current__option:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
  /*  outline: black;
  outline-offset: -2px !important; */
}

.form__container {
  margin-top: 68px;
  width: 53.3%;
  padding-inline: 15px;
  margin-inline: auto;
}

.form__box {
  padding: 60px;
  margin-block: 14px;
  border: solid 1px;
  width: 100%;
  border: solid 1px #ccc;
}

.form__box form {
  margin-bottom: 16px;
}

.form__header {
  margin-top: -12px;
  margin-bottom: 12px;
  color: #000;
  text-align: center;
}

.form__header p {
  padding-inline: 10px;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;

  margin-bottom: 0px;
  text-align: center;
}

.form__box label {
  padding-top: 12px;
  margin-bottom: 8px;
  font-size: 16px;
  line-break: 24px;
  text-align: left;
}

.form__item {
  padding: 6px 12px;
}

.form__input {
  padding: 6px 12px;
  color: #495057;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #1faa59;
  width: 100%;
}

.form__select {
  padding: 6px 12px;
  border: 1px solid #1faa59;
  background-color: #1faa59;
  width: 100%;
  color: #fdec00;
  cursor: pointer;
  position: relative;
}

.form__select ul {
  display: none !important;
}

.form__select div {
  position: absolute;
  margin-top: 20px;
  padding: 4px 24px;
  background-color: red !important;
  font-size: 16px !important;
  line-height: 24px;
  color: blue;
}

.create__button {
  margin-top: 25px;
  border: 1.5px #000 solid;
  background-color: #dee2e6;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 12px;
  border-radius: 0.25rem;
  transition: ease-in-out all 0.2s;
}

.create__button:hover {
  background-color: #1faa59;
  color: #fdec00;
  border-color: transparent;
}

.create__button:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.toggle__sidebar {
  width: calc(100% - 20vw);
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
    padding-top: 48px;
  }
  .form__container {
    width: 80%;
  }
}
