.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*   gap: 20px; */
}

.content__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container select {
  outline-color: black !important;
  /* color: black !important; */
  padding: 8px 16px 8px 16px !important;
  background-image: none !important;
  appearance: auto !important;
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  font-size: 16px !important;
}

.container select:focus-visible {
  border: 2px solid black;
}

/* .header {
  height: 65px;
  padding: 10px;
}
 */
.info__container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.info__container button {
  padding: 12px 24px !important;
  font-size: 15px;
  font-weight: 500;
  color: var(--e-global-color-text);
}

.proccess__container {
  display: flex;
  flex-direction: column;
}

.proccess__box {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
}

.box {
  padding: 10px;
  border: solid 1px var(--e-global-color-text);
  min-width: 20%;
  flex-grow: 1;
}

.box__header {
  color: red;
  font-size: 15px;
  font-weight: 500;
}

.box__info {
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}

.first__box {
  padding: 15px;
  border: solid 1px var(--e-global-color-text);
  width: 20%;
  flex-grow: 0;
}
.primarybttn {
  width: 50% !important;
  height: 2.2rem;
}

.h2__Doc__Title {
  font-size: 1.125rem;
}

@media (max-width: 768px) {

  .proccess__box {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    scrollbar-width: thin;
  }
  .first__box {
    padding: 15px;
    border: solid 1px var(--e-global-color-text);
    width: 100%;
    flex-grow: 0;
  }
}
@media (max-width: 290px) {

  .primarybttn {
    width: 50% !important;
    height: 3.2rem;
  }
}