.save__Process__Modal__Overlay {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 100002;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__Process__Modal__Container {
  background-color: var(--white);
  width: 35%;
  border-radius: 10px;
  padding: 4% 2%;
  max-height: 30rem;
  position: relative;
}

.save__Process__Modal__Close__Icon {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
}

.bg__Save__Icon {
    font-size: 2.5rem;
}

.save__Process__Modal__Items {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 1rem;
}

.save__Process__Modal__Items p {
    font-size: 0.9rem;
    color: var(--e-global-color-text);
}

.save__Btns__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.save__Btns__Container button {
    width: 10rem;
    padding: 2% 0;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.save__Btns__Container button:is(:hover, :focus) {
    filter: brightness(0.9);
}

.save__Btns__Container button:is(:disabled, [disabled]) {
    cursor: not-allowed;
    filter: brightness(0.7);
}

.green__Btn {
    background-color: #198754;
    color: #fff;
}

.process__Input {
    border: 1px solid var(--e-global-color-text);
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    outline: none;
    padding: 2%;
    font-size: 0.9rem;
    transition: 0.3s ease-in;
}

.process__Input:focus-within {
    border-color: #198754;
    caret-color: #198754;
}

.go__Back__Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}