.container {
  display: flex;
  transition: 0.1s transform ease;
  gap: 20px;
}

.box {
  /*  width: min(14vw, 160px); */
  width: 33%;
}

/* .title__box {
  width: 100%;
  border-bottom: 1px solid var(--e-global-color-text);
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
} */

/* .title {
  text-transform: capitalize;
  color: var(--e-global-color-text) !important;
} */

/* .content__container {
  display: flex;
  flex-direction: column;
} */

/* .content__container input {
  max-width: 100%;
  margin-inline: auto;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--e-global-color-text);
  padding-left: 10px;
  padding-block: 6px;
}
 */
.content__box {
  height: 100px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .content__box::-webkit-scrollbar {
  display: none;
}

.content__box li {
  cursor: pointer;
}

.content__box li:hover {
  color: #000;
} */

/* .content__box li:first-child {
  margin-top: 15px;
} */

/* .content__box li:last-child {
  margin-bottom: 15px;
} */

.content__text {
  width: 100%;
}

@media (max-width: 767px) {
  .box {
    width: 28.15vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    transition: 0.1s transform ease;
    gap: 20px;
  }
  
}
