.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 50px;
  margin-left: 20px;
}

.content__box {
  width: var(--primary-section-width);
  display: flex;
  gap: 100px;
  flex-direction: column;
}

.add__Form__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 180px;
  height: 185px;
  background-color: #f3fff1;
  border: 2px dashed #adadad;
  border-radius: 20px;
}

.add__Form__toggle i {
  cursor: pointer;
  width: 57px;
  height: 57px;
  background: #1f7628;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__Form__toggle h2 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.header {
  padding: 7px;
  border: 1px solid var(--e-global-color-accent);
  line-height: 19px;
  font-size: 19px;
  color: rgb(255, 0, 0);
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0px;
  }
}
