.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  position: relative;
  /*  gap: 50px; */
  margin-left: 20px;
}

.header_wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.page__header {
  text-align: center;
  margin-block: 20px;
  width: 100%;
}

.back_button {
  background: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--e-global-color-secondary);
  color: var(--e-global-color-cd6593d);
  padding: 10px 15px;
height: 40px;
  border-radius: 6px;
  gap: 10px;
  transition: 0.3s ease-in-out;
}

.back_button span {
  font-size: 0.9rem;
}

.back_button:hover {
  filter: brightness(0.8);
}

.content__box {
  width: var(--primary-section-width);
  display: flex;
  gap: 100px;

  flex-direction: column;
}

.add__Form__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 200px;
  width: 145px;
  background-color: #f3fff1;
  border: 2px dashed #adadad;
  border-radius: 20px;
  padding-inline: 5px;
}

.add__Form__toggle i {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: var(--popup-form-button);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.add__Form__toggle h2 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 27px;
  text-align: center;
}

.header {
  padding: 7px;
  border-bottom: 2px solid var(--e-global-color-secondary);
  line-height: 19px;
  font-size: 19px;
  flex-basis: fit-content;
  color: rgb(255, 0, 0);
  font-weight: 600;
  flex-grow: 1;
  text-transform: capitalize;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .page__header {
    font-size: 1.5rem;
  }
}
