.sideBar {
  width: 21%;
  background-color: #54595f;
  margin-left: 90px;
}
.main {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 20px;
}
.dowellLogo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
}
.workflow {
  color: #e1e1d9;
  font-size: 17px;
  margin-top: 8px;
  font-weight: bold;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin-top: 25px;
}
.welcoming {
  justify-content: center;
  display: grid;
  margin-top: 80px;
}
.profilePicture {
  padding-left: 53px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.welcome {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: bold;
}
.myOrganisation {
  color: #61ce70;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
}
.orgImg {
  margin-left: 25px;
  width: 150px;
}
.notific {
  color: red;
  border-bottom: 1px solid #ffffff;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding: 20px 35px;
  font-weight: bold;
}
.colC {
  color: #9b807a;
  font-family: "Roboto", "SansSerif";
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 1400px) {
  .sideBar {
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  .sideBar {
    width: 25%;
  }
  .main {
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
  }
  .icons {
    gap: 25px;
  }
  .orgImg {
    width: 100px;
    height: 70px;
    margin-left: 53px;
  }
}
@media (max-width: 700px) {
  .newBtn {
    width: 50%;
  }
  .btn {
    width: 50%;
  }
}
