.container {
  display: flex;
  margin-bottom: 20px;
  transition: 0.1s transform ease;
}

.box {
  width: min(14vw, 160px);
}

/* .title__box {
  width: 100%;
  border-bottom: 1px solid var(--e-global-color-text);
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
} */

/* .title {
  text-transform: capitalize;
  color: var(--e-global-color-text) !important;
} */

/* .content__container {
  display: flex;
  flex-direction: column;
} */

/* .content__container input {
  max-width: 100%;
  margin-inline: auto;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--e-global-color-text);
  padding-left: 10px;
  padding-block: 6px;
}
 */
.content__box {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .content__box::-webkit-scrollbar {
  display: none;
}

.content__box li {
  cursor: pointer;
}

.content__box li:hover {
  color: #000;
} */

/* .content__box li:first-child {
  margin-top: 15px;
} */

/* .content__box li:last-child {
  margin-bottom: 15px;
} */

/* .content {
  line-height: 18px;
  text-align: start;
  font-size: 12px;
  white-space: break-spaces;
  font-weight: 400;
  font-family: "Roboto";
} */

@media (max-width: 767px) {
  .box {
    width: 28.15vw;
  }
}
