.container {
  display: flex;
  flex-direction: column;
}

.container select {
  font-size: 16px !important;
}

.container button {
  background-color: var(--e-global-color-text);
  height: 40px;
  padding-inline: 16px;
  font-size: 16px;
  color: white;
  transition: all 0.5s ease;
}

.container button:hover {
  background-color: var(--e-global-color-accent);
}

.box {
  background-color: var(--e-global-color-9d2ac19);
  border: 1px solid var(--e-global-color-text);
  padding: 10px;
}

.box__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--e-global-color-text);
  padding: 10px;
}

.box__header {
  font-size: 16px;
  margin-bottom: 0;
  color: red;
}

.process__Generated__Links__Overlay {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 100002;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process__Generated__Links__Container__Close__Icon {
  position: absolute;
  top: 4%;
  right: 2%;
  cursor: pointer;
}

.process__Generated__Links__Container {
  background-color: var(--white);
  width: 73%;
  border-radius: 10px;
  padding: 4% 2%;
  max-height: 30rem;
  position: relative;
}

.process__Generated__Links__Container .process__Generated__Links__Title__Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.process__Generated__Links__Container .process__Generated__Links__Copy__Item {
  background-color: #61ce70;
  color: #fff;
  cursor: pointer;
  /* padding: 7% 5%; */
  border-radius: 5px;
  display: flex;
  height: 2.3rem;
  width: 4.3rem;
  align-items: center;
  justify-content: center;
}

.process__Links__Wrapper {
  overflow-y: auto;
  max-height: 25rem;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
  
.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-track {
  background: #efefef;
}
  
.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-thumb {
  background: #61ce70;
}

.process__Generated__Links__Container .process__Links__Wrapper::-webkit-scrollbar-thumb:hover {
  background: #1f7628;
}

.process__Generated__Links__Container table thead,
.process__Generated__Links__Container table td {
  padding: 0.3rem 0.8rem;
}

.process__Generated__Links__Container table thead {
  background-color: #61ce70;
  color: var(--white);
}

.process__Links__Container td img {
  width: 7rem;
  height: 7rem;
}

.process__Links__Container tr:hover {
  background: #efefef;
  transition: 0.3s ease-in-out;
}

.single__Link {
  cursor: pointer;
}