.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  z-index: 99;
  margin-bottom: 100px;
}

.flip__container {
  height: 100px;
  width: 100%;
}

.flip__box {
  height: 100px;
  overflow: hidden;
  /*  padding: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  border-radius: 8px;
  color: var(--e-global-color-cd6593d) !important;
}

.flip__button {
  padding: 10px 20px;
  border: 2px solid var(--e-global-color-cd6593d);
  background-color: transparent;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: var(--e-global-color-cd6593d);
  align-self: center;
  border-radius: 2px;
  word-wrap: wrap;
}

.back__box {
  padding: 35px;
}

.flip__text {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.grow__back__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  position: relative;
  z-index: 20;
  padding-left: 15px;
  padding-right: 15px;
}

.grow__back__box button {
  padding: 8px;
}

.grow__back__box button svg {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .container {
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
