.container {
  padding: 10px;
}

.content__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__box {
  width: 100%;
}

.grid__box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
