.back__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding-block: 5px; */
}

.back__container p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.button__group {
  margin-top: auto;
  display: flex;
  margin-left: auto;
  gap: 5px;
  margin-right: 7px;
}

.button__group a {
  text-decoration: none;
  cursor: pointer;
}

.delete {
  color: red !important;
}

.update {
  color: green !important;
}

.test {
  height: 180px !important;
  width: 135px;
  overflow: scroll;
  color: var(--e-global-color-secondary);
  text-align: center;
}

table {
  text-align: center;
  width: 100%;
}

.test::-webkit-scrollbar {
  display: none;
}

table thead tr th {
  font-size: 12px;
  width: 50%;
  border-bottom: 1px solid var(--e-global-color-secondary);
  padding: 2px;
  overflow-x: hidden;
}

table tbody tr th {
  font-size: 12px;
  overflow-x: hidden;
  padding: 2px;
}
