.container {
  display: flex;
  flex-direction: column;
  background-color: var(--e-global-color-secondary);
  padding: 10px;
  border: 3px transparent solid;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: white;
  /*  justify-content: center; */
}

.header__box {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.header__box .item__box .header {
  font-size: 17px;
}

.header__box .item__box {
  padding: 10;
}

.header__box .item__box img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.icon__box {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  color: var(--e-global-color-9d2ac19) !important;
}
.Profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item__box i {
  padding: 3px;
  margin: 3px;
  color: var(--e-global-color-text);
}

.user__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.user__box img,
.user__box i {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.user__box__text {
  font-size: 19px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  word-break: break-all;
}

.organization__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 30px;
}

.organization__text {
  font-weight: 600;
  font-size: 15px;
  color: var(--e-global-color-accent);
  margin-bottom: 20px;
}

.organization__box img {
  width: 126px;
  height: 89px;
  object-fit: cover;
}

/* ///////////////////// */

.Second_popuo {
  z-index: 100000000000 !important;
  position: fixed;
  top: 50px;
  left: 190px;
  background-color: white;
  width: 185px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2px;
  box-sizing: border-box;
}

.my_element_one {
  z-index: 10000000000 !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.close_button {
  position: absolute;
  top: 0rem;
  left: 8px;
  background: none;
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
}

.Parent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

/* /////////////////////////// */
.feature__box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.feature__title {
  font-size: 24px;
  color: var(--e-global-color-accent);
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
}

.feature__title__small {
  font-size: 15px !important;
}

.gap {
  height: 50px;
  width: 100%;
  background-color: transparent;
}

.knowledge__Extra__Info {
  font-size: 0.8rem;
  margin-top: 20px;
  color: var(--e-global-color-9d2ac19);
}

@media (max-width: 768px) {
  .organization__box img {
    width: 54vw;
    height: 38vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.templates_href {
  padding: 15px 15px 15px 15px;
  display: flex;
  overflow: hidden;
  color: var(--e-global-color-9d2ac19) !important;
  border-bottom: 1px solid var(--e-global-color-9d2ac19);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  outline: none;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container{
    height: 100%;
  }
  .organization__box {
    /* border: solid; */
   
    padding: 0;
  }
  .organization__Img_Container {
    /* border: 5px red solid; */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .organization__Img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
