.container {
  display: flex;
  flex-direction: column;
  background-color: var(--e-global-color-secondary);
  padding: 10px;
  border: 3px transparent solid;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: white;
  /*  justify-content: center; */
}

.header__box {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.header__box .item__box .header {
  font-size: 17px;
}

.header__box .item__box {
  padding: 10;
}

.header__box .item__box img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.icon__box {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  color: var(--e-global-color-text);
}

.item__box i {
  padding: 3px;
  margin: 3px;
  color: var(--e-global-color-text);
}

.user__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.user__box img,
.user__box i {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.user__box__text {
  font-size: 19px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  word-break: break-all;
}

.organization__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 30px;
}

.organization__text {
  font-weight: 600;
  font-size: 15px;
  color: var(--e-global-color-accent);
  margin-bottom: 20px;
}

.organization__box img {
  width: 126px;
  height: 89px;
  object-fit: cover;
}

.feature__box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.feature__title {
  font-size: 29px;
  color: var(--e-global-color-accent);
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
}

.feature__title__small {
  font-size: 15px !important;
}

.gap {
  height: 50px;
  width: 100%;
  background-color: transparent;
}

.legal__Overlay__Container {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.legal__Overlay__Container__Close__Icon {
  position: absolute;
  top: 4%;
  right: 2%;
  cursor: pointer;
  color: #000;
}

.legal__Content__Container {
  background-color: #fff;
  width: 60%;
  border-radius: 10px;
  padding: 4% 2%;
  position: relative;
}

.legal__Content__Form__Container {
  max-height: 15rem;
  overflow-y: auto;
}

.legal__Content__Container h3 {
  margin-bottom: 5%;
}

.legal__Content__Container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 3%;
}

.legal__Content__Container label.legal__Agree {
  width: 65%;
  cursor: pointer;
}

.legal__Content__Container label input {
  outline: none;
  border: none;
}

.legal__Content__Container label input {
  border: 1px solid #61ce70;
  border-radius: 8px;
  padding: 1% 3%;
}

.legal__Register__Btn {
  background-color: #61ce70;
  color: #fff;
  padding: 1.5% 3%;
  border-radius: 10px;
  margin: 5% 0;
  cursor: pointer;
}

.legal__Register__Btn:disabled,
.legal__Register__Btn[disabled] {
  filter: brightness(0.8);
  cursor: not-allowed;
}

.continue__Btn {
  margin-bottom: 0;
}

.success__Legal__Message {
  background-color: #61ce70;
  border-radius: 8px;
  padding: 1% 2%;
  margin: 2% 0 4%;
  color: #fff;
}

@media (max-width: 768px) {
  .organization__box img {
    width: 54vw;
    height: 38vw;
  }
}

@keyframes fadeIn {
  from{
      opacity: 0;
  }to{
      opacity: 1;
  }
}