.container {
  height: 200px;
  /* width: 145px; */
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  /* transition: 1s ease all; */
  border-radius: 5px;
}

.box {
  width: 100%;
  /* padding: 37px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--e-global-color-secondary);
  padding: 10px;
}

.hover__box {
  transform: translateY(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f3fff1 !important;
  transition: 1s ease all;
}

.container:hover .hover__box {
  transform: translateY(0);
}

.hover {
  transform: translateY(0) !important;
}

.folder_shape {
  position: relative;
}

.folder_shape:after {
  content: '';
  width: 100px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 0 0 0 10px;
  background-color: var(--bs-body-bg);
}
