.edit_modal_sect {
  --border_clr: #dee2e6;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0000005b;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease;
  /* TODO Add transition for both the section and its child */
  /* TODO Ensure transition is same too TeamModal's */
}

.edit_modal_sect.show {
  opacity: 1;
  z-index: 1;
}

.edit_modal_sect button:active:not(.type_filter_sect button:active) {
  scale: 0.9;
}

.edit_form_wrapper {
  width: 800px;
  background-color: #fff;
  max-height: 550px;
  border-radius: 0.5rem;
  overflow-y: auto;
  margin-top: -100px;
  opacity: 0;
  transition: all 0.5s ease;
}

.edit_form_wrapper.show {
  margin-top: 0;
  opacity: 1;
}

.edit_form_wrapper h3 {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--border_clr);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_btn {
  margin-top: 0;
  background: none;
  opacity: 0.6;
  transition: all 0.1s ease;
  padding: 5px 0;
}

.close_btn:hover {
  opacity: 1;
}

.edit_form {
  padding: 16px;
  position: relative;
}

.team_details label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.team_details input {
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--border_clr);
  margin: 8px 0 16px;
  border-radius: 0.375rem;
  transition: all 0.1s ease;
  font-size: 1rem;
}

.team_details input:focus {
  border: 1px solid #0d6efd;
  outline: none;
  box-shadow: 0 0 0 5px #0d6dfd2f;
}

.btns_wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns_wrapper button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.375rem;
  transition: all 0.1s ease;
}

.done_btn {
  background-color: #0d6efd;
  border: 1px solid transparent;
  color: #fff;
}

.nav_btn {
  border: 1px solid #0d6efd;
  background-color: transparent;
  color: #0d6efd;
}

.portfolio_details label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 0.9rem;
}

.portfolio_details label:hover {
  font-weight: bold;
}

.portfolio_details input {
  cursor: pointer;
  margin-right: 10px;
}

.hide_segment {
  display: none;
}

.refetch_modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all ease 0.2s;
  background-color: #00000048;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refetch_modal.active {
  opacity: 1;
  z-index: 10;
  transform: scale(1);
}

.refetch {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 400px;
  flex-direction: column;
  border-radius: 10px;
}
