.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 10px 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: min(100%, 89vw);
  gap: 15px;
}

.section__container {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px; */
}

.section__container form {
  width: 100%;
}

.section__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 10px; */
}

.title {
  color: var(--e-global-color-1342d1f);
  font-weight: 600;
  text-align: center;
}

.title__l {
  font-size: 29px;
  line-height: 29px;
}

.title__m {
  font-size: 19px;
  line-height: 19px;
}

.submit__button {
  background-color: var(--e-global-color-accent);
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: underline;
  color: #fff;
  padding: 12px 24px;
  font-weight: 500;
}

.form__cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form button {
  margin-top: 20px;
}

.bottom__line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.main_container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.settings_layout_sidebar_box {
  /* max-height: 100vh; */
  overflow-y: auto;
  position: sticky;
  top: 0;
}
.setting_sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--e-global-color-secondary);
  padding: 10px;
  border: 3px transparent solid;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.setting_page {
  position: relative !important; 
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10 !important;
  padding: 10px;
}

.home__btn {
  color: var(--e-global-color-text);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.home__btn:hover {
  color: var(--e-global-color-text);
}