.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.header__box {
  padding: 20px;
  border: solid 1px #a4afb7;
  background-color: var(--e-global-color-9d2ac19);
  color: #333333;
  font-size: 18px !important;
  line-height: 21.6px !important;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  font-size: 18px !important;
  line-height: 21.6px !important;
  font-weight: 600;
  margin-bottom: 0;
}

.sticky {
  position: sticky;
  top: 105px;
  z-index: 1000;
}
