.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-top: 50px;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.select__container {
  display: flex;
}

.left__container {
  display: flex;
  padding: 10px;
  width: 32.5%;
  border: solid var(--e-global-color-text) 1px;
  flex-direction: column;
  gap: 20px;
  align-self: flex-start;
}

.right__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 67.5%;
}

.is__fixed {
  position: fixed;
  top: 105px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100vw;
  }
  .select__container {
    flex-direction: column;
  }
  .left__container {
    width: 100%;
  }
  .right__container {
    width: 100%;
  }
}
