.form__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 30px;
  }
  .form__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (max-width: 768px) {
    .form__box {
      flex-direction: column;
      row-gap: 20px;
    }

  }
  .button__group {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  
  .button__group button {
    padding: 6px 24px;
    text-transform: capitalize;
    border-radius: 10px;
    color: white;
    border: none;
  }
  
  .add__button {
    background-color: var(--popup-form-button);
  }
  
  .cancel__button {
    background-color: #c6c6c6;
  }