.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content__box {
  position: relative;
  width: min(100%, 89vw);
  display: flex;
  justify-content: space-between;
}

.sidebar__box {
  width: 25%;
  background-color: var(--e-global-color-secondary);
}

.children__box {
  width: 75%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.spinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.redirect__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #5cb85c; */
  /*  justify-content: center; */
}

.img__container {
  align-self: center;
  /* position: absolute;
  top: 50px; */
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  margin-top: 30px;
}

.typewriter h1 {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter span {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  font-weight: 900 !important;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

@media (max-width: 768px) {
  .content__box {
    flex-direction: column;
  }

  .sidebar__box {
    width: 100%;
  }

  .children__box {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sidebar__box {
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
}
