.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content__box {
  position: relative;
  width: min(100%, 89vw);
  display: flex;
  justify-content: space-between;
}

.sidebar__box {
  width: 25%;
  background-color: var(--e-global-color-secondary);
  /* z-index: 1; */
}

.children__box {
  width: 75%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.spinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.beta__Info__Text {
  color: var(--e-global-color-1342d1f);
  width: 100%;
  margin: 0 auto;
  padding-left: 25%;
  position: fixed;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.08), transparent);
  z-index: 100000000000;
}

.redirect__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #5cb85c; */
  /*  justify-content: center; */
}

.img__container {
  align-self: center;
  /* position: absolute;
  top: 50px; */
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  margin-top: 30px;
}

.typewriter h1 {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter span {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  font-weight: 900 !important;
}


.workflow_check {
  color: black;
  width: 100vw;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  /* justify-content: center; */
  padding-left: 15%;
  /* border: solid; */
  position: fixed;
  background: white;
  z-index: 100000000000;
}

.legal__Overlay__Container {
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.legal__Overlay__Container__Close__Icon {
  position: absolute;
  top: 4%;
  right: 2%;
  cursor: pointer;
  color: #000;
}

.legal__Content__Container {
  background-color: #fff;
  width: 60%;
  border-radius: 10px;
  padding: 4% 2%;
  position: relative;
}

.legal__Content__Form__Container {
  max-height: 15rem;
  overflow-y: auto;
}

.legal__Content__Container h3 {
  margin-bottom: 5%;
}

.legal__Content__Container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 3%;
}

.legal__Content__Container label.legal__Agree {
  width: 65%;
  cursor: pointer;
}

.legal__Register__Btn {
  background-color: #61ce70;
  color: #fff;
  padding: 1.5% 3%;
  border-radius: 10px;
  margin: 5% 0;
  cursor: pointer;
}

.legal__Register__Btn:disabled,
.legal__Register__Btn[disabled] {
  filter: brightness(0.8);
  cursor: not-allowed;
}

.continue__Btn {
  margin-top: 1%;
  margin-bottom: 0;
}

.date__Agreed {
  color: #61ce70;
  font-size: 0.875rem;
  display: block;
  margin-bottom: 1%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

@media (max-width: 767px) {
  .content__box {
    flex-direction: column;
  }

  .sidebar__box {
    width: 100%;
   z-index: 1;
  }

  .children__box {
    width: 100%;
    position: absolute;
  }

  .content__box {
    position: absolute;
  }
}

@media (min-width: 768px) {
  .sidebar__box {
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
  .reponsivelanguage{
    position: fixed;
    top: 20px;
    left: 350px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container{
    margin: 0;
    width: 100%;
    
  }
  .children__box{
    /* border: 2px red solid; */
    /* margin: 0; */

  }
  .content__box{
    width: 100%;
    /* border: 2px red solid; */
    margin: 0;
  }
  /* .editor_container{
    border: #61ce70 solid;
    margin: 0;
  } */
}