.flip__card {
  background-color: transparent;
  width: 100%;
  height: 100% !important;
}

.flip__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip__card:hover .flip__card__inner {
  transform: rotateX(180deg);
}

.flip__card__front,
.flip__card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
}

.flip__card__back {
  transform: rotateX(180deg);
}
