.container {
  padding: 10px;
}

.content__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__box {
  display: flex;
  flex-direction: column;
}

.grid__box {
  /* width: 100%; */
  display: flex;
  /*   grid-template-columns: 1fr 1fr 1fr; */
  flex-wrap: wrap;
  gap: 3px;
}

.grid__box button:not(button.btn_exempt) {
  font-size: 16px;
  margin-top: 15px;
  background-color: var(--e-global-color-secondary);
  color: white !important;
}

.refresh__btn {
  background: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--e-global-color-secondary);
  color: var(--e-global-color-cd6593d);
  padding: 1% 2%;
  border-radius: 6px;
  gap: 10px;
  transition: 0.3s ease-in-out;
}

.refresh__btn span {
  font-size: 0.9rem;
}

.refresh__btn:hover {
  filter: brightness(0.8);
}
