.type_filter_sect {
  position: absolute;
  top: 10px;
  right: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.type_filter_sect * {
  box-sizing: border-box;
}

.drop_btn {
  padding: 5px 10px;
  text-transform: capitalize;
  color: var(--e-global-color-cd6593d);
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.drop_opts_wrapper {
  border-radius: 0 0 5px 5px;
  transition: all ease 0.3s;
  overflow: hidden;
  height: 0;
  background-color: var(--e-global-color-cd6593d);
}

.drop_opts_wrapper.active {
  height: 89px;
  border: 1px solid var(--e-global-color-text);
}

.drop_opt_wrapper {
  padding: 4px 10px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all ease 0.3s;
}

.drop_opt_wrapper:hover {
  border-color: var(--e-global-color-text);
}

.drop_opt_wrapper:first-of-type:hover {
  border-top-color: transparent;
}

.drop_opt_wrapper:last-of-type:hover {
  border-bottom-color: transparent;
}

.drop_opt .select_icon {
  margin-left: 5px;
  opacity: 0;
  transition: all ease 0.3s;
  color: var(--e-global-color-accent);
  font-size: 0.9rem;
}

.drop_opt_wrapper.active .select_icon {
  opacity: 1;
}

.filter_name {
  text-transform: capitalize;
}

.drop_opt_wrapper.active .filter_name {
  font-weight: bold;
}
