.container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: #000;
}

.box {
  width: 600px;
  padding: 30px;
  background-color: white;
}
.header{
  color: green;
  font-weight: bold;
}

.header__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  /* color: #969696;
  font-family: Poppins; */
}

.header__box i {
  cursor: pointer;
}

.children__container {
  background-color: #ffffff;
  /* background-color: #f1f7ff; */
  padding: 20px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); */
  /* border: solid; */
  border-radius: 10px;
}

.box label {
  margin-bottom: 13px;
  font-size: 16px;
  line-break: 24px;
  text-align: left;
  font-weight: 500;
}

.box label span {
  color: rgba(215, 3, 3, 1);
}

.box input {
  padding: 6px 12px;
  /* color: #495057; */
  color: black;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(97, 206, 112);
  outline: none;
  border-radius: 10px;
}

.box input::placeholder {
  /* color: #495057; */
  color: black;
  opacity: 1; /* Firefox */
}

.box input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* color: #495057; */
  color: #000;
}

.box input::-ms-input-placeholder {
  /* Microsoft Edge */
  /* color: #495057; */
  color: #000;
}

.box input:focus {
  border: 1px solid var(--popup-form-button);
}

.input__box {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .box {
    width: 90%;
  }
}
