.tabsWrapper{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.tabBtnWrapper{
    margin: 5px;
    margin-bottom: 0;
    border-bottom: 10px solid #7a7a7a;
}
.tabBtnWrapperNo{
    margin: 5px;
    margin-bottom: 0;
    /* border-bottom: 10px solid #7a7a7a; */
}
.tabBtn{
    font-size: 22px;
    background: none;
}
.tabBtn:disabled {
    color: black;
}

@media (max-width: 768px) {
    .tabBtn{
        font-size: 18px;
    }
}