.dropdown__container {
  position: relative;
  color: var(--e-global-color-secondary);
  width: 450px;
  /* Set the width */
}

.ghost__input {
  /* visibility: hidden; */
  position: absolute;
  padding: 0;
  margin: 0;
  height: 0px !important;
  width: 0px !important;
  left: 40%;
  bottom: 50%;
}

.dropdown__current__option {
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  background-color: var(--e-global-color-cd6593d);
  width: 100%;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  height: 40px;
  color: var(--e-global-color-secondary);
}

.dropdown__current__option::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 10px;
  margin-top: -1px;
  top: 50%;
  transform: translateY(-50%);
}

/* .dropdown__current__option:hover {
  color: #000;
  border-color: transparent;
}
 */
.dropdown__current__option:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}

.dropdown__option__container {
  /* margin-top: 20px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  max-height: 270px !important;
  overflow-y: auto;
}

.dropdown__option__box {
  flex-direction: column;
  width: 100%;
  display: flex;
  min-width: fit-content;
}

.dropdown__option__content {
  height: auto;
  /* background-color: var(--e-global-color-cd6593d); */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4px 24px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}

.dropdown__option__content:hover {
  background-color: #005734;
  color: var(--e-global-color-cd6593d);
}

.create__button {
  margin-top: 20px;
  display: flex;
  gap: 6px;
  border: 1.5px #000 solid;
  background-color: var(--popup-form-button);
  color: var(--e-global-color-cd6593d);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 22px;
  border-radius: 0.25rem;
  transition: ease-in-out all 0.2s;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100px;
  justify-content: center;
}

.buttons_container {
  /* display: flex; */
  display: -webkit-box;
  justify-content: space-around;
  /* Creates two columns of equal size */
  align-items: center;
  /* This sets the gap between the buttons */
  /* Add any additional styling such as padding or margin as needed */
}

.create__button__template {
  /* display: inline-flex; */
  padding: 17px 43px 16px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #C8C8C8;
  display: flex;
}

.create__button__template1 {
  /* display: inline-flex; */
  padding: 17px 43px 16px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #C8C8C8;
  display: flex;
}

.create__button__template1:hover {
  background-color: #005734; /* Background color on hover */
  color: white;
  cursor: pointer;
}


.create__button__inner {
  background-color: "#f1f7ff"
}

.create__button__inner:hover {
  background-color: #005734; /* Background color on hover */
}


.create__button__document {
  margin-top: 20px;
  display: flex;
  gap: 6px;
  border: 1.5px #000 solid;
  background-color: #005734;
  color: var(--e-global-color-cd6593d);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 22px;
  border-radius: 0.25rem;
  transition: ease-in-out all 0.2s;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 430.267px;
  justify-content: center;
  margin-left: 10px;
}

.all_templates_title {
color: #3E3E3E;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 2px;
}

.selected {
  /* styles for your selected option */
  background-color: #005734; /* Example: change background color for selected item */
  color: white; /* Example: change text color for selected item */
}

/* .create__button:hover {
  background-color: #1faa59;
  color: #fdec00;
  border-color: transparent;
} */

.create__button:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.toggle__sidebar {
  width: calc(100% - 20vw);
}

@media (max-width: 630px) {
  .create__button__document {
    width: 200px
  }
}

@media (max-width: 768px) {
  .form__box {
    padding: 10px;
    padding-block: 30px;
    width: 90%;
  }
}