.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*  gap: 10px; */
}

.content__continer {
  display: flex;
  width: 100%;
}

.left__container {
  width: 33%;
  margin-right: 3%;
  /* border: solid; */
  /* padding-top: 2%; */
}

.right__container {
  width: 64%;
}

.swiper__slide__box {
  width: 75%;
  height: 100%;
  /* border: solid 1px red; */
  background-color: #ecf0f1;
  display: flex;
}

.swiper__slide__features {
  display: flex;
  flex-direction: column;
  height: fit-content !important;
  margin: auto;
  width: 90%;
  align-items: center;
  overflow: hidden;
  /* border: solid; */
}

.features__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 100px;
  line-height: 24px;
/* border: solid; */
width: 100%;
  overflow: hidden; /* Hide any content that exceeds the maximum height */
  text-overflow: ellipsis;
}

.features__button {
  font-size: 13px;
  border: 2px solid var(--e-global-color-text);
  width: 92px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: var(--e-global-color-9d2ac19);
  transition: all 0.5s ease;
}

.features__button:hover {
  background-color: var(--e-global-color-accent);
  border-color: #006400;
  color: white;
}

.selected {
  background-color: var(--e-global-color-accent);
  pointer-events: none;
  border-color: #006400;
  color: white;
}

.h2__Doc__Title {
  font-size: 1.125rem;
}


@media (max-width: 767px) {
  .swiper__slide__box {
    width: 100%;
  }
  .content__continer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .left__container {
    width: 100%;
  }
  
  .right__container {
    width: 100%;
  }
  .features__title {
    padding-top: 20px;
  }
  .features__button {
    margin-bottom: 20px;
  }
}
/* @media (max-width: 290px) {
  .features__button {
    font-size: 13px;
    border: 2px solid var(--e-global-color-text);
    width: 63px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: var(--e-global-color-9d2ac19);
    transition: all 0.5s ease;
  }
  .swiper__slide__features {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    margin: auto;
    width: 75px;
    align-items: center;
  }
  .features__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 100px;
    line-height: 24px;
  }
} */