.container {
  width: 100%;
}

.info__table {
  width: 100%;
}

.info__table tr th {
  padding: 10px;
  color: var(--e-global-color-1342d1f);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.info__table tr td {
  border: solid 1px var(--e-global-color-secondary);
  padding: 10px;
  width: 20%;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  color: var(--e-global-color-secondary);
}

.info__table tr td div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title__content {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .info__table tr {
    display: flex;
    flex-direction: column;
  }

  .info__table tr td {
    width: 100%;
  }
}
