.folders_modal_sect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  padding: 0 10px;
  overflow: auto;
}

.folders_modal_sect h3 {
  position: relative;
}

.folders_modal_sect .close_btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
}

.folders_modal_sect .close_btn:active {
  transform: translateY(-50%) scale(0.8);
}

.folders_modal_sect button {
  background-color: transparent;
  display: block;
  transition: all 0.2s ease;
}

.folders_modal_sect button:not(.select_drop_btn, .close_btn):active {
  transform: scale(0.9);
}

.folders_modal_wrapper {
  margin: auto;
  width: 600px;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}

.folders_modal_wrapper h3 {
  margin-bottom: 1rem;
  color: #2e7d32;
  font-weight: 600;
}

.folders_modal_wrapper input {
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
}

.folders_modal_sect .opt_btn {
  margin: 0 10px;
  font-size: 1.3rem;
  /* padding: 10px; */
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
}

.folders_modal_sect .btns_wrapper {
  margin-top: 20px;
}

.folders_modal_sect .cancel_btn {
  background-color: #ff000026;
  color: red;
}

.folders_modal_sect .affirm_btn {
  background-color: #00800026;
  color: #008000;
}

/* * Edit Modal */

.folder_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.folder_form .form_opt {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.folder_form input[type='text'],
.folder_form select {
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6;
  margin: 8px 0 0;
  border-radius: 0.375rem;
  transition: all 0.1s ease;
  font-size: 1rem;
  width: 100%;
}

.folder_form input[type='text']:focus {
  border: 1px solid #0d6efd;
  outline: none;
  box-shadow: 0 0 0 5px #0d6dfd2f;
}

.select_drop_btn {
  color: grey;
  display: flex !important;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  /* background-color: red !important; */
}

.select_drop_icon {
  margin-left: 100px;
}

.drop_super_container {
  height: 0;
  overflow: hidden;
  transition: all ease 0.3s;
  width: 100%;
}

.drop_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.drop_opt {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drop_opt:hover {
  color: #000000;
}

.drop_opt input[type='checkbox'] {
  cursor: pointer;
}

.drop_opt label {
  margin-left: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px 0;
}

.folder_form button[type='submit'] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  background-color: #2e7d32;
  border: 1px solid transparent;
  color: #fff;
  width: 100%;
  text-align: center;
}

.folder_form button[type='submit']:active {
  transform: scale(0.9);
}

.folder_form select {
  cursor: pointer;
}

.pagination_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  width: 100%;
  grid-gap: 5px;
  border-top: 1.5px solid #d8d8d8;
  padding-top: 10px;
}

.page_btn {
  background-color: #d8d8d83d !important;
  color: #7a7a7a !important;
}

.page_btn:hover {
  color: #000 !important;
  background-color: #d8d8d8 !important;
}

.page_btn.active {
  color: #000 !important;
  background-color: #d8d8d8 !important;
  pointer-events: none;
}

/* * Edit Modal End */
