/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-cd6593d: #ffffff;
  --e-global-color-9d2ac19: #e1e1e1;
  --e-global-color-1342d1f: #ff0000;
  --e-global-color-0363588: #c3d6be;
  --e-global-color-2f1e1e4: #0048ff;
  --e-global-color-62c33d9: #fff300;
  --e-global-color-34b46d7: #0a0a23;
  --h2-weight: 600;
  --primary-section-width: 90%;
  --popup-form-button: #1f7628;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--e-global-color-text) !important;
  font-family: 'Inter', sans-serif !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  padding: 0;
  font-size: 18px;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 0, 0) !important;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
