.content__Container {
    background-color: #fff;
    padding: 2%;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.content__Container__Close__Icon {
    margin-left: auto;
    width: max-content;
    cursor: pointer;
}

.content__Container h3 {
    font-size: 1.5rem;
    letter-spacing: 0.04em;
}

.message {
    font-size: 0.875rem;
    color: var(--e-global-color-secondary);
}

@media screen and (max-width: 767px) {
    .content__Container {
        width: 95%;
        margin: 0 auto;
        padding-left: 4%;
        padding-right: 4%;
    }
}