.select-workflow {
  width: 100%;
  position: relative;
  /* min-height: 100px !important; */
}

.select-workflow i {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  color: red;
}

.select-workflow .swiper-slide {
  background-color: #ecf0f1;
  min-height: 70px !important;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 15px;
}

.select-workflow .swiper-button-next,
.select-workflow .swiper-button-prev {
  color: black;
  font-weight: 900;
  --swiper-navigation-size: 20px;
  /*  transform: translateY(-15px); */
}

.select-workflow .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.select-workflow .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  line-height: 24px !important;
}
