.add__container {
  display: flex;
  flex-direction: column;
}

.add__button {
  margin-top: 20px;
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-cd6593d) !important;
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
  align-self: center;
  padding: 10px 20px;
  line-height: 13px;
  cursor: pointer;
}

.title {
  text-align: start;
  line-height: 30px;
}
