.folder_href {
  padding: 15px 15px 15px 15px;
  display: flex;
  overflow: hidden;
  color: var(--e-global-color-9d2ac19) !important;
  border-bottom: 1px solid var(--e-global-color-9d2ac19);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  outline: none;
  text-decoration: underline;
  text-transform: capitalize;
}
