.container {
  display: flex;
  flex-direction: column;
  width: min(70vw, 835px);
  position: relative;
  max-width: 100vw;
  gap: 50px;
}

.add__Form__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: solid 1px green;
  background-color: green;
}

.add__Form__toggle i {
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay form {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.overlay form i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.header {
  font-size: 24px;
  color: red;
}

.content__container {
  display: flex;
  flex-direction: column;
}

.content__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid blue;
  gap: 20px;
}

.card {
  border: 1px solid pink;
  height: 280px;
  background-color: blue;
  width: auto;
}
