.createProcess {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  
}
.bodyWrapper {
  /* border: solid; */
  background-color: #f1f7ff;
  padding: 10px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
}
.createProcessBtn {
  background-color: #1f7628;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
h3{
    margin: 20px;
}
.radioWrapper{
    margin-left: 25%;

}
.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
}

input[type="radio"] {
  width: 20px; /* Adjust the width to make the radio buttons bigger */
  height: 20px; /* Adjust the height to make the radio buttons bigger */
  margin-right: 10px; /* Add some spacing between the radio button and label */
}

input[type="radio"]:checked + label::before {
  background-color: green; /* Change the color of the checked radio button to green */
  border: 2px solid green; /* Change the border color of the checked radio button to green */
}
.selectedProcessWrapper{
    display: flex;
    padding-left: 20px;
}
.selectedProcess{
    color: green;
    margin-left: 5px;
}