.container {
  border: solid 1px var(--e-global-color-text);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.selected__doc__box {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 12px;
  gap: 2px;
  border: solid var(--e-global-color-text) 1px;
}

.no__item {
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  color: var(--e-global-color-1342d1f);
  text-transform: capitalize;
  text-align: center;
}

.selected {
  background-color: rgba(97, 206, 112, 0.3);
}

/* .selected__doc__box ol {
  border: solid red 1px;
} */

.continue__Text {
  font-weight: 400;
  color: var(--e-global-color-text);
  font-size: 0.875rem;
  text-transform: none;
}