.div {
    background-color: #fff;
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.div_2 {
    align-items: center;
    align-self: start;
    display: flex;
    margin-left: 40px;
    gap: 20px;
}

@media (max-width: 991px) {
    .div_2 {
        margin-left: 10px;
    }
}

.img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}

.div_3 {
    color: #111;
    align-self: stretch;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 32px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div_3 {
        white-space: initial;
    }
}

.img_2 {
    aspect-ratio: 1440;
    object-fit: contain;
    object-position: center;
    width: 100%;
    stroke-width: 1px;
    stroke: rgba(119, 119, 119, 0.3);
    overflow: hidden;
    align-self: stretch;
    margin-top: 32px;
}

@media (max-width: 991px) {
    .img_2 {
        max-width: 100%;
    }
}

.div_4 {
    align-self: stretch;
    display: flex;
    margin-top: 29px;
    width: 100%;
    flex-direction: column;
    padding: 0 55px;
}

@media (max-width: 1297px) {
    .div_4 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div_5 {
    color: #777;
    letter-spacing: 0.22px;
    font: 400 22px/32px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div_5 {
        max-width: 100%;
    }
}

.div_6 {
    display: flex;
    margin-top: 75px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 1297px) {
    .div_6 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
        margin-top: 40px;
    }
}

.div_7 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.img_3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_4 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 168px;
    overflow: hidden;
    margin-top: 11px;
}

.div_8 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div_8 {
        flex-basis: 100%; /* Full width for smaller screens */
        margin-bottom: 20px; /* Optional: Add some space below each item */
    }
}

.img_5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_6 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 168px;
    overflow: hidden;
    margin-top: 11px;
}

.div_9 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.img_7 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_8 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 168px;
    overflow: hidden;
    margin-top: 11px;
}

.div_10 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}
@media (max-width: 791px) {
    .div_10 {
        flex-basis: 100%; /* Full width for smaller screens */
        margin-bottom: 20px; /* Optional: Add some space below each item */
    }
}
.img_9 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_10 {
    aspect-ratio: 0.74;
    object-fit: contain;
    object-position: center;
    width: 167px;
    overflow: hidden;
    margin-top: 11px;
}

.div_11 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 691px) {
    .div_11 {
        flex-basis: 100%; /* Full width for smaller screens */
        margin-bottom: 20px; /* Optional: Add some space below each item */
    }
}

.img_11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_12 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 168px;
    overflow: hidden;
    margin-top: 11px;
}

.div_12 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 591px) {
    .div_12 {
        flex-basis: 100%; /* Full width for smaller screens */
        margin-bottom: 20px; /* Optional: Add some space below each item */
    }
}

.img_13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
    overflow: hidden;
    max-width: 100%;
}

.img_14 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 168px;
    overflow: hidden;
    margin-top: 11px;
}

.div_13 {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .div_13 {
        max-width: 100%;
    }
}

.div_14 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div_14 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 16%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div_15 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div_15 {
        margin-top: 22px;
    }
}

.div_16 {
    margin: 30px;
    color: #00bae7;
    text-align: center;
    white-space: nowrap;
    font: 500 20px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div_16 {
        white-space: initial;
    }
}

.div_17 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.column_2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 84%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column_2 {
        width: 100%;
    }
}

.div_18 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div_18 {
        max-width: 100%;
        margin-top: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.div_19 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div_20 {
    margin-top: 50px;
    color: #9860b5;
    text-align: center;
    font: 500 20px Roboto, sans-serif;
}

.div_21 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.div_22 {
    align-items: start;
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div_23 {
    margin-top: 30px;
    color: #ff9f4e;
    text-align: center;
    font: 500 20px Roboto, sans-serif;
}

.div_24 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.div_25 {
    align-items: center;
    /* align-self: start; */
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div_26 {
    margin-top: 50px;
    color: #f000d8;
    text-align: center;
    font: 500 20px Roboto, sans-serif;
}

.div_27 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.div_28 {
    align-items: center;
    /* align-self: start; */
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div_29 {
    margin-top: 50px;
    color: #00c1b7;
    text-align: center;
    font: 500 20px Roboto, sans-serif;
}

.div_30 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.div_31 {
    align-items: center;
    /* align-self: start; */
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div_32 {
    margin-top: 50px;
    color: #ff612e;
    text-align: center;
    font: 500 20px Roboto, sans-serif;
}

.div_33 {
    color: #777;
    text-align: center;
    letter-spacing: 0.14px;
    align-self: stretch;
    margin-top: 16px;
    font: 400 14px/20px Roboto, sans-serif;
}

.div_34 {
    display: flex;
    flex-direction: column;
    fill: linear-gradient(90deg, #fcf1b1 -12.47%, #bee1c8 103.98%);
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 252px;
    margin-top: 8px;
    width: 100%;
    padding-top: 50px;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div_34 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.img_15 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img_16 {
    aspect-ratio: 5.62;
    object-fit: contain;
    object-position: center;
    width: 343px;
    fill: linear-gradient(90deg,
            rgba(254, 244, 173, 0.7) 9.94%,
            rgba(212, 231, 192, 0.7) 49.15%);
    overflow: hidden;
    margin-top: 141px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .img_16 {
        margin-top: 40px;
    }
}

.img_17 {
    aspect-ratio: 14.26;
    object-fit: contain;
    object-position: center;
    width: 385px;
    fill: linear-gradient(90deg,
            rgba(165, 216, 149, 0.6) 19.35%,
            rgba(76, 202, 143, 0.6) 94.01%);
    overflow: hidden;
    margin-top: 175px;
}

@media (max-width: 991px) {
    .img_17 {
        margin-top: 40px;
    }
}

.label {
    margin-top: 8px; /* Adjust the space between the circle and the label */
    color: #00acee;
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
  }


.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #00acee;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #00acee;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #00acee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number {
    color: #00acee;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text {
    color: #00acee;
    font-size: 1em;
    /* Adjust size as needed */
}

.timeline2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line2 {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #9860b5;;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle2 {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #9860b5;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle2 {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #9860b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number2 {
    color: #9860b5;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text2 {
    color: #9860b5;
    font-size: 1em;
    /* Adjust size as needed */
}

.timeline3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line3 {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #ff9f4e;;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle3 {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #ff9f4e;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle3 {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #ff9f4e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number3 {
    color: #ff9f4e;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text3 {
    color: #ff9f4e;
    font-size: 1em;
    /* Adjust size as needed */
}

.timeline4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line4 {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #f000d8;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle4 {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #f000d8;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle4 {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #f000d8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number4 {
    color: #f000d8;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text4 {
    color: #f000d8;
    font-size: 1em;
    /* Adjust size as needed */
}

.timeline5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line5 {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #00c1b7;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle5 {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #00c1b7;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle5 {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #00c1b7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number5 {
    color: #00c1b7;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text5 {
    color: #00c1b7;
    font-size: 1em;
    /* Adjust size as needed */
}

.timeline6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    /* Adjust based on total height */
}

.timeline_line6 {
    width: 4px;
    height: 125%;
    /* Full height of the container */
    background-color: #ff612e;
    position: absolute;
    left: 50%;
    /* Center the line */
    transform: translateX(-50%);
}

.timeline_outer_circle6 {
    width: 150px;
    /* Diameter of the outer circle */
    height: 150px;
    /* Same as width for full circle */
    border: 4px solid #ff612e;
    border-radius: 50%;
    /* Fully round for the circle */
    position: absolute;
    top: 15px;
    /* Adjust as needed for position */
    left: 50%;
    transform: translateX(-50%);
}

.timeline_circle6 {
    width: 130px;
    /* Diameter of the inner circle */
    height: 130px;
    border: 6px solid #ff612e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    /* Background of the circle */
    position: absolute;
    top: 25px;
    /* Adjust so it's centered within the outer circle */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Ensure the circle appears above the line */
}

.timeline_number6 {
    color: #ff612e;
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: bold;
}

.timeline_text6 {
    color: #ff612e;
    font-size: 1em;
    /* Adjust size as needed */
}


/* Add styles for the continuation of the line if needed */